{% extends 'base.html' %}

{% block meta %}
    <title>PacilFlix - A8</title>
{% endblock meta %}

{% block content %}
<style>
    .navbar-custom {
        background-color: #1E90FF; 
    }

    .navbar-custom .nav-link,
    .navbar-custom .navbar-brand {
        color: white; 
    }

    .navbar-custom .nav-link:hover,
    .navbar-custom .navbar-brand:hover {
        color: #000000; 
    }

    .navbar-custom .btn:hover {
        color: #000000;
        text-decoration: underline;
    }
</style>



<div class="d-flex justify-content-center align-items-center" style="height: 100vh;"> 
    <div class="card" style="width: 18rem;"> 
        <div class="card-body text-center"> 
            <h1 class="card-title">PacilFlix - A8</h1>
            <div class="d-flex flex-column"> 
                <div class="mb-2"> 
                    <a href="/login/" class="btn btn-primary">  
                        Login
                    </a>
                </div>
                <div class="mb-2">
                    <a href="/register/" class="btn btn-secondary"> 
                        Register
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
