{% extends 'base.html' %}

{% block meta %}
    <title>PacilFlix - A8</title>
{% endblock meta %}

{% block content %}

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;"> 
    <div class="card" style="width: 18rem;"> 
        <div class="card-body text-center"> 
            <h1 class="card-title">PacilFlix - A8</h1>
            <div class="d-flex flex-column"> 
                <div class="mb-2"> 
                    <a href="/login/" class="btn btn-primary">  
                        Login
                    </a>
                </div>
                <div class="mb-2">
                    <a href="/register/" class="btn btn-secondary"> 
                        Register
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
