{% extends 'base.html' %}

{% block meta %}
<title>Checkout Package</title>
{% endblock meta %}

{% block content %}
<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h1, h2 {
    text-align: center;
    color: #333;
  }

  .checkout-info {
    margin-bottom: 30px;
  }

  .payment-method {
    margin-top: 20px;
  }

  select {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
</style>

<div class="container">
  <h1>Checkout Package {{user}}</h1>

  <div class="checkout-info">
    <h2>Package Information</h2>
    <p><strong>Name:</strong> {{ package_info.0 }}</p>
    <p><strong>Price:</strong> ${{ package_info.1 }}/month</p>
    <p><strong>Resolution:</strong> {{ package_info.2 }}</p>
  </div>


  <div class="payment-method">
    <h2>Payment Method</h2>
    <label for="payment">Select Payment Method:</label>
    <select id="payment">
      <option value="transfer-bank">Transfer Bank</option>
      <option value="kartu-kredit">Kartu Kredit</option>
      <option value="ewallet">E-Wallet</option>
    </select>
  </div>

  <div class="checkout-button" style="text-align: center; margin-top: 20px;">
    <button style="padding: 10px 20px; font-size: 16px; border-radius: 5px; background-color: #007bff; color: #fff; border: none;">Checkout</button>
  </div>
</div>

{% endblock %}
