{% extends 'base.html' %}

{% block meta %}
<title>Subscription</title>

{% endblock meta %}

{% block content %}
<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h1, h2 {
    text-align: center;
    color: #333;
  }

  .subscription {
    margin-bottom: 30px;
  }

  .subscription-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .transaction-history {
    margin-top: 30px;
  }

  .transaction-history table {
    width: 100%;
    border-collapse: collapse;
  }

  .transaction-history th, .transaction-history td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }

  .transaction-history th {
    background-color: #f2f2f2;
  }

  .transaction-history td:last-child {
    text-align: center;
  }
</style>

</head>
<body>

<div class="container">
  <h1>Subscription Management</h1>

  <!-- Active subscription -->
  {% if selected_user %}
  {% if active_subscription %}
  <div class="subscription">
    <h2>Active Subscription</h2>
    <div class="subscription-header">
      <div>
        <h3>{{ active_subscription.0 }}</h3>
        <p>Price: ${{ active_subscription.1 }}/month</p>
        <p>Resolution: {{ active_subscription.2 }}</p>
      </div>
      <div>
        <p>Start Date: {{ active_subscription.3 }}</p>
        <p>End Date: {{ active_subscription.4 }}</p>
      </div>
    </div>
  </div>
  {% else %}
  <p>Cek paket-paket menarik kita dan mulai berlangganan! -minflix</p>
  {% endif %}
  {% endif %}

  <!-- Recommended Packages -->
  <div class="subscription">
    <h2>Recommended Packages</h2>
    {% for package in recommended_packages %}
    <div class="subscription-header">
      <div>
        <h3>{{ package.0 }}</h3>
        <p>Price: ${{ package.1 }}/month</p>
        <p>Resolution: {{ package.2 }}</p>
      </div>
      <div>
        <a href="{% url 'checkout' package_name=package.0 %}"><button>Beli / Checkout</button></a>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="transaction-history">
    <h2>Transaction History</h2>
    <table>
      <tr>
        <th>Package Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Payment Method</th>
        <th>Transaction Date</th>
        <th>Total Payment</th>
      </tr>
      {% for transaction in transaction_history %}
      <tr>
        <td>{{ transaction.0 }}</td>
        <td>{{ transaction.1 }}</td>
        <td>{{ transaction.2 }}</td>
        <td>{{ transaction.3 }}</td>
        <td>{{ transaction.4 }}</td>
        <td>${{ transaction.5 }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

</div>
{% endblock content %}