{% extends 'base.html' %}

{% block meta %}
<title>Daftar Kontributor</title>
{% endblock meta %}

{% block content %}
<div class="container">
  <h1>Daftar Kontributor Film</h1>

  <label for="filter">Kategori:</label>
  <select id="filter">
    <option value="semua">Semua</option>
    <option value="pemain">Pemain</option>
    <option value="sutradara">Sutradara</option>
    <option value="penulis skenario">Penulis Skenario</option>
  </select>

  <ul id="kontributor-list">
    {% for contributor in contributors %}
      <li>
          <h2>Nama: {{ contributor.0 }}</h2>
          <p>Tipe: {{ contributor.3 }}</p>
          <p>
              Jenis Kelamin:
              {% if contributor.1 == 0 %}
                  Laki-laki
              {% elif contributor.1 == 1 %}
                  Perempuan
              {% else %}
                  Tidak Diketahui
              {% endif %}
          </p>
          <p>Kewarganegaraan: {{ contributor.2 }}</p>
      </li>
    {% endfor %}
  </ul>
</div>

<script>
  document.getElementById('filter').addEventListener('change', function() {
    var filterValue = "tipe: " + this.value.toLowerCase();
    var kontributorList = document.getElementById('kontributor-list').getElementsByTagName('li');

    for (var i = 0; i < kontributorList.length; i++) {
      var kontributor = kontributorList[i];
      var kontributorType = kontributor.querySelector('p:nth-of-type(1)').textContent.trim().toLowerCase();

      console.log(filterValue + "pelter valu")
      console.log(kontributorType + "kontyp")

      if (filterValue === 'tipe: semua' || kontributorType === filterValue) {
        kontributor.style.display = 'block';
      } else {
        kontributor.style.display = 'none';
      }
    }
  })
  function applyFilter() {
    var filterValue = "tipe: " + document.getElementById('filter').value.toLowerCase();
    var kontributorList = document.getElementById('kontributor-list').getElementsByTagName('li');

    for (var i = 0; i < kontributorList.length; i++) {
      var kontributor = kontributorList[i];
      var kontributorType = kontributor.querySelector('p:nth-of-type(1)').textContent.trim().toLowerCase();

      if (filterValue === 'tipe: semua' || kontributorType === filterValue) {
        kontributor.style.display = 'block';
      } else {
        kontributor.style.display = 'none';
      }
    }
  }

  // Event listener untuk perubahan pada dropdown filter
  document.getElementById('filter').addEventListener('change', function() {
    applyFilter(); // Terapkan filter saat dropdown berubah
  });

  // Terapkan filter saat halaman dimuat ulang
  window.addEventListener('load', function() {
    applyFilter();

    // Set opsi filter sesuai dengan filter yang diterapkan sebelumnya
    var selectedFilter = localStorage.getItem('selectedFilter');
    if (selectedFilter) {
      document.getElementById('filter').value = selectedFilter;
    }
  });
</script>

{% endblock %}
