{% extends 'base.html' %}

{% block meta %}
    <title>Favorites</title>
{% endblock meta %}

{% block content %}

    <style>
        .downloads-link {
            color: white !important; /* Use !important to override any other styles */
        }
    </style>

    <div>
        <style>
            table {
                width: 100%;
                border-collapse: collapse;
            }
            th, td {
                padding: 8px;
                text-align: left;
                border-bottom: 1px solid #ddd;
            }
            h1 {
                text-align: center;
            }
            .icon-add {
                position: fixed;
                bottom: 20px;
                right: 20px;
                z-index: 9999; 
                font-size: 70px;
                color: green;
                
                margin-right: 2%;
                margin-bottom: 2%;
            }
            .delete-button {
                background: none;
                border: none;
                color: red;
                font-size: 30px;
                cursor: pointer;
            }
            .delete-button:hover {
                color: rgb(69, 0, 0);
            }
        </style>
        
        <div class = "container justify-content-center align-items-center my-5">

            <div class="pt-3 pb-5">
                <h1>Downloads</h1>
            </div>

            <div>
                <table class="table table-striped">
                    
                    <thead>
                        <tr>
                            <th>Judul</th>
                            <th>Waktu</th>
                            <th></th>
                        </tr>
                    </thead>   
                    {% for download in daftar_unduhan %} 
                    <tbody>
                        <tr>
                            <td>
                                <h4>{{ download.1 }}</h4>
                            </td>

                            <td>{{ download.2|date:"Y-m-d H:i:s" }}</td>
                            <td>
                                <a class="delete-button" href="{% url 'delete_download' download.0 download.2|date:'Y-m-d H:i:s' %}">
                                    <ion-icon name="close-circle"></ion-icon>
                                </a>                         
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>

        <!-- Error Modal -->
        <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="errorModalLabel">GAGAL MENGHAPUS TAYANGAN DARI DAFTAR UNDUHAN</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Tayangan minimal harus berada di daftar unduhan selama 1 hari agar bisa dihapus.
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        // Add event listener to the delete buttons
        document.querySelectorAll('.delete-button').forEach(button => {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                var url = this.href;
    
                fetch(url, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        location.reload();
                    } else {
                        // Show the error modal if the specific error message is returned
                        if (data.error === "Tayangan terunduh harus lebih dari satu hari untuk dihapus") {
                            $('#errorModal').modal('show');
                        } else {
                            console.error(data.error);
                        }
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            });
        });
    </script>
{% endblock content %}