{% extends 'base.html' %}

{% block meta %}
    <title>Favorites</title>
{% endblock meta %}

{% block content %}

    <!-- Styles -->
    <style>
        .favorites-link {
            color: white !important; /* Use !important to override any other styles */
        }
    
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        h1 {
            text-align: center;
        }
        .icon-add {
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 9999; 
            font-size: 70px;
            color: green;
            
            margin-right: 2%;
            margin-bottom: 2%;
        }
        .delete-button {
            background: none;
            border: none;
            color: red;
            font-size: 30px;
            cursor: pointer;
        }
        .delete-button:hover {
            color: rgb(69, 0, 0);
        }
        .favorite-button {
            background: none;
            border: none;
            cursor: pointer;
        }
        .favorite-button h4 {
            margin: 0;
        }
        .favorite-button:hover h4 {
            color: darkblue;
        }
    </style>

    <div>
        <div class = "container justify-content-center align-items-center my-5">

            <div class="pt-3 pb-5">
                <h1>Favorites</h1>
            </div>

            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Judul</th>
                            <th>Waktu</th>
                            <th></th>
                        </tr>
                    </thead>   
                    {% for favorite in favorites %}
                    <tbody>
                        <tr>
                            <td>
                                <button class="favorite-button" onclick="showFavoritesDetails(this)">
                                    <h4>{{ favorite.0 }}</h4>
                                </button>
                            </td>

                            <td>{{ favorite.1 }}</td>

                            <td>
                                <a class="delete-button" data-timestamp="{{ favorite.1 }}" href="/favorites/delete/{{ favorite.0 }}">
                                    <ion-icon name="close-circle"></ion-icon>
                                </a>                               
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>

        </div>

        <button>
            <ion-icon name="add-circle" class="icon-add" id="addFavoriteIcon"> </ion-icon>
        </button>
    </div>

    <!-- Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Enter New Favorite List Name</h4>
                    <button type="button" class="close" data-dismiss="modal" onclick="closeModal()">&times;</button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <form id="addFavoriteForm" onsubmit="addFavorite(event)">
                        <div class="form-group">
                            <label for="newJudul">New Judul:</label>
                            <input type="text" class="form-control" id="newJudul" placeholder="Enter New Judul" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <script>

        function closeModal() {
            $('#myModal').modal('hide');
        }

        document.addEventListener("DOMContentLoaded", function() {
            const addFavoriteIcon = document.getElementById("addFavoriteIcon");

            // Add event listener to the circle icon
            addFavoriteIcon.addEventListener("click", function(event) {
                event.preventDefault();

                openModal();
            });
        });

        // Function to open the pop-up modal
        function openModal() {
            document.getElementById("myModal").style.display = "block";
        }

        // Function to add favorite with user input judul
        function addFavorite(event) {
            event.preventDefault(); // Prevent form submission
            const newJudul = document.getElementById("newJudul").value;

            // Call the add_favorite endpoint with the newJudul parameter
            fetch('/add_favorite/', {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'  // Include CSRF token for security
                },
                body: JSON.stringify({ 'judul': newJudul })
            })
            .then(response => {
                if (response.ok) {
                // If successful, close the modal and refresh the page
                closeModal();
                location.reload();
                } else {
                console.error('Failed to add favorite');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>

{% endblock content %}