{% extends 'base.html' %}
{% load static %}

{% block content %}
<title>Halaman Film</title>
  <!-- Bootstrap CSS -->
  <style>
    body {
      background-color: #15202b; /* Dark blue */
      color: #ffffff; /* White text */
    }
    .container {
      margin-top: 50px;
    }
    .card {
      background-color: #1e2a38; /* Darker blue */
      border-radius: 10px;
      margin-bottom: 20px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .card-header {
      background-color: #007bff; /* Light blue */
      color: #ffffff; /* White text */
      border-bottom: none;
    }
    .card-body {
      padding: 20px;
    }
    .card-title {
      color: #ffffff; /* White text */
    }
    .card-text {
      color: #cccccc; /* Light gray text */
    }
    .btn-primary {
      background-color: #007bff; /* Light blue */
      border-color: #007bff; /* Light blue border */
    }
    .btn-primary:hover {
      background-color: #0056b3; /* Darker blue on hover */
      border-color: #0056b3; /* Darker blue border on hover */
    }
    /* Center the heading */
    .center-heading {
      text-align: center;
    }
    /* Improve text readability */
    table {
      color: #ffffff; /* White text */
    }
    th, td{
        color: #ffffff;
    }

  
  </style>
</head>
<body>
<h1 class="center-heading">Halaman Film</h1>


{% if error_message != "none" %}

<h1 class="center-heading">{{error_message}}</h1>
{% endif %}


<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{detail_tayangan.0.5}}</h5>
      <div class="slider-ratio">
        
        <form method="POST" action="{% url 'tayangan:submit_slider' id=detail_tayangan.0.0  %}">
        {% csrf_token %}
          <label >Progress Nonton (0 - {{durasi_dasar}}) menit</label>
          <input type="range" class="slider form-range"" name="slider" id = "progressSlider" min="0" max="{{durasi_dasar}}"">
          <p id="sliderValue"></p>
          <td><button type="submit" id="button-nonton" class="btn btn-primary" >Nonton</button></td>
        </form>


      </div>
      <table class="table">
        <tbody>
          
          <tr>
            <td>Judul:</td>
            <td>{{detail_tayangan.0.5}}</td>
          </tr>
          <tr>
            <td>Tombol Tonton:</td>
            <td><a href="{{detail_tayangan.0.1}}"></a><button type="button" class="btn btn-primary">Tonton</button></td>
          </tr>
          <tr>
            <td>Tombol Unduh Tayangan:</td>
            <td><button type="button" class="btn btn-primary" id="downloadButton">Unduh Tayangan</button></td>
          </tr>
          <tr>
            <td>Tombol Favorit Tayangan:</td>
            <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addToFavoritesModal">Favorit</button></td>
          </tr>
          <tr>
            <td>Total View:</td>
            <td>{{detail_tayangan.0.15}}</td>
          </tr>
          <tr>
            <td>Rating Rata-Rata:</td>
            <td>{{rating.0}}</td>
          </tr>
          <tr>
            <td>Sinopsis:</td>
            <td>{{detail_tayangan.0.6}}</td>
          </tr>
          <tr>
            <td>Durasi Film:</td>
            <td>{{durasi}}</td>
          </tr>
          <tr>
            <td>Tanggal Rilis Film:</td>
            <td>{{detail_tayangan.0.2}}</td>
          </tr>
          <tr>
            <td>URL Film:</td>
            <td><a href="{{detail_tayangan.0.1}}" class='link_url'>{{detail_tayangan.0.1}}</a></td>
          </tr>
          <tr>
            <td>Genre:</td>
            <td>{{genre.0}}</td>
          </tr>
          <tr>
            <td>Asal Negara:</td>
            <td>{{detail_tayangan.0.7}}</td>
          </tr>
          <tr>
            <td>Pemain:</td>
            <td>{{pemain.0}}</td>
          </tr>
          <tr>
            <td>Penulis Skenario:</td>
            <td>{{penulis.0}}</td>
          </tr>
          <tr>
            <td>Sutradara:</td>
            <td>{{detail_tayangan.0.11}}</td>
          </tr>
        </tbody>
      </table>
      <div>
        <h5 class="card-title">Ulasan</h5>
        <form method="POST" action="{% url 'tayangan:submit_ulasan' id=detail_tayangan.0.0  %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="reviewInput">Deskripsi Ulasan:</label>
            <input type="text" name = 'ulasan' class="form-control" id="reviewInput" placeholder="Masukkan deskripsi ulasan">
          </div>
          <div class="form-group">
            <label for="ratingInput">Rating:</label>
            <input type="number" class="form-control" id="ratingInput" name = 'rating' placeholder="Masukkan rating">
          </div>
          <button type="submit" formmethod="POST" class="btn btn-primary submit-btn">Submit</button>
        </form>
        <h6>Daftar Ulasan:</h6>
        <ul>
          {% for item in ulasan %}
          <li><b>{{item.1}}</b> ({{item.3}}) : {{item.4}}</li>
          {% endfor %}
          <!-- Add more reviews -->
        </ul>
      </div>
    </div>
  </div>

  <!-- Modal Unduhan-->
  <div class="modal fade" id="downloadSuccessModal" tabindex="-1" aria-labelledby="downloadSuccessModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="downloadSuccessModalLabel" style="color: black;">SUKSES MENAMBAHKAN TAYANGAN KE DAFTAR UNDUHAN</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="color: black;">
          <p>Selamat! Anda telah berhasil mengunduh {{detail_tayangan.0.5}} dan akan berlaku hingga 7 hari. Cek informasi selengkapnya pada halaman daftar unduhan.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
          <a href="{% url 'downloads' %}" class="btn btn-primary">Menuju Daftar Unduhan</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Add to Favorites Modal -->
  <div class="modal fade" id="addToFavoritesModal" tabindex="-1" aria-labelledby="addToFavoritesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addToFavoritesModalLabel" style="color: black;">TAMBAH KE DAFTAR FAVORIT</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p style="color: black;">Judul Daftar Favorit:</p>
          <select class="form-control" id="favoriteDropdown">
            {% for favorite in favorites %}
              <option value="{{ favorite.1|date:'Y-m-d H:i:s' }}" style="color: black;">{{ favorite.0 }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="addToFavoritesButton">Tambah</button>
        </div>
      </div>
    </div>
  </div>

</div>


<script>
  document.addEventListener("DOMContentLoaded", function() {
    const slider = document.getElementById("progressSlider");
    const output = document.getElementById("sliderValue");
  
    // Set nilai awal output dengan nilai awal slider
    output.textContent = slider.value;
  
    // Update nilai output setiap kali slider diubah
    slider.addEventListener("input", function() {
      output.textContent = slider.value;
      console.log(slider.value); // Optional: untuk menampilkan nilai di console
    });

  });

  document.addEventListener("DOMContentLoaded", function() {
    const btn = document.getElementById("button-nonton");
    const output = document.getElementById("sliderValue");


    fetch("{% url 'tayangan:submit_slider' detail_tayangan.0.0 %}", {
      method: 'POST',
      headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': '{{ csrf_token }}'
      },
  })
  .then(response => {
      if (response.ok) {
          // If successful, reload the page to show updated favorites
          location.reload();
      } else {
          console.error('Failed to add favorite');
      }
  })
  .catch(error => {
      console.error('Error:', error);
  })

  });
  
  //Download Script
  document.addEventListener("DOMContentLoaded", function() {
        // Get the download button element
        const downloadButton = document.getElementById("downloadButton");
        
        // Add click event listener to the download button
        downloadButton.addEventListener("click", function() {
            // Get the URL associated with the add_download view
            const url = "{% url 'add_download' detail_tayangan %}";
            
            // Use fetch to trigger the download process
            fetch(url)
            .then(response => {
                if (response.ok) {
                    // If successful, show a success modal
                    $('#downloadSuccessModal').modal('show');
                } else {
                    // If not successful, log the error
                    console.error('Failed to download:', response.statusText);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    });

  //Favorite Script
  document.addEventListener("DOMContentLoaded", function() {
    // Get the button and dropdown elements
    const addToFavoritesButton = document.getElementById("addToFavoritesButton");
    const favoriteDropdown = document.getElementById("favoriteDropdown");
    
    // Add event listener to the "Tambah" button
    addToFavoritesButton.addEventListener("click", function() {
      // Get the selected favorite ID
      const favoriteId = favoriteDropdown.value;
      print(favoriteId);
      
      // Get the ID of the tayangan
      const tayanganId = "{{ detail_tayangan }}"; // Assuming detail_tayangan.0.0 contains the tayangan ID
      print(favoriteId);
      
      // Fetch the URL with the selected favorite ID and tayangan ID
      fetch(`/addfavoriteitem/${tayanganId}/${favoriteId}/`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': '{{ csrf_token }}'
        },
      })
      .then(response => {
        if (response.ok) {
          // If successful, show the success modal
          $('#addToFavoritesModal').modal('hide');
          $('#addToFavoritesSuccessModal').modal('show');
        } else {
          console.error('Failed to add to favorites');
        }
      })
      .catch(error => {
        console.error('Error:', error);
      });
    });
  });

</script>

</body>


{% endblock content %}
